@font-face {
    font-family: "main";
    src: url("/core/FuturaPTMedium.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

*{
    box-sizing: border-box;
}
html, body{
   margin: 0 auto;
   background-color: #fff ;
   font-family: "main";
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
p{
    margin: 5px;
}

img{
    width: 100%;
    max-width: 350px;
}
.mini{
    font-size: 12px;
    opacity: 0.6;
}