@font-face {
  font-family: "Raleway-Medium";
  src: url("fonts/Raleway-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Raleway-Light";
  src: url("fonts/Raleway-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Raleway-Black";
  src: url("fonts/Raleway-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Raleway-SemiBold";
  src: url("fonts/Raleway-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Raleway-ExtraBold";
  src: url("fonts/Raleway-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Raleway-Bold";
  src: url("fonts/Raleway-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("fonts/Raleway-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}


*{
  box-sizing: border-box;
}

html, body {
  font-family: "Raleway-Regular";
  margin: 0;
  padding-top: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f4f8;
  color: #212121;
}

header{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #dedede;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.header img{
  max-height: 30px;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  flex-wrap: wrap;
}
nav a{
  text-decoration: none;
  color: #212121;
}
.footer a{
  color: #212121;
  text-decoration: none;
}
#root{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
  min-height: 80vh;
}

footer{
  border-top: 1px solid #dedede;
  background-color: #fff;
  color: #212121;
  min-height: 20vh;
  padding: 20px;
}
.footer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}


.skiptranslate {
  display: none !important;
}