*{
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding-top: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f4f8;
  color: #212121;
}

header{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-bottom: 1px solid #c2c2c2;
  box-shadow: 0 0 10px 0 #21212124;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.header img{
  max-height: 30px;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
}
nav a{
  text-decoration: none;
  color: #212121;
}

#root{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
  min-height: 80vh;
}

footer{
  background-color: #212121;
  color: #f2f4f8;
  min-height: 20vh;
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}